# Finding Similar Movies

We'll start by loading up the MovieLens dataset. Using Pandas, we can very quickly load the rows of the u.data and u.item files that we care about, and merge them together so we can work with movie names instead of ID's. (In a real production job, you'd stick with ID's and worry about the names at the display layer to make things more efficient. But this lets us understand what's going on better for now.)

In [1]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('../ml-100k/u.data', sep='\t', encoding='latin1', names=r_cols, usecols=range(3))

m_cols = ['movie_id', 'title']
movies = pd.read_csv('../ml-100k/u.item', sep='|', encoding='latin1', names=m_cols, usecols=range(2))

ratings = pd.merge(movies, ratings)

In [2]:
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

Now the amazing pivot_table function on a DataFrame will construct a user / movie rating matrix. Note how NaN indicates missing data - movies that specific users didn't rate.

In [3]:
movieRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
movieRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's extract a Series of users who rated Star Wars:

In [4]:
selectedMovieRatings = movieRatings['Toy Story (1995)']
selectedMovieRatings.head()

user_id
0    NaN
1    5.0
2    4.0
3    NaN
4    NaN
Name: Toy Story (1995), dtype: float64

Pandas' corrwith function makes it really easy to compute the pairwise correlation of Star Wars' vector of user rating with every other movie! After that, we'll drop any results that have no data, and construct a new DataFrame of movies and their correlation score (similarity) to Star Wars:

In [5]:
similarMovies = movieRatings.corrwith(selectedMovieRatings)
similarMovies = similarMovies.dropna()
df = pd.DataFrame(similarMovies)
df.head(10)

/Users/choir/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:2487: RuntimeWarning: Degrees of freedom <= 0 for slice
  warnings.warn("Degrees of freedom <= 0 for slice", RuntimeWarning)
/Users/choir/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:2496: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

                                            0
title
'Til There Was You (1997)            0.534522
101 Dalmatians (1996)                0.232118
12 Angry Men (1957)                  0.334943
187 (1997)                           0.651857
2 Days in the Valley (1996)          0.162728
20,000 Leagues Under the Sea (1954)  0.328472
2001: A Space Odyssey (1968)        -0.069060
39 Steps, The (1935)                 0.150055
8 1/2 (1963)                        -0.117259
8 Heads in a Duffel Bag (1997)       0.500000

(That warning is safe to ignore.) Let's sort the results by similarity score, and we should have the movies most similar to Star Wars! Except... we don't. These results make no sense at all! This is why it's important to know your data - clearly we missed something important.

In [6]:
similarMovies.sort_values(ascending=False)

title
Ladybird Ladybird (1994)                                                             1.000000
Albino Alligator (1996)                                                              1.000000
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.000000
Critical Care (1997)                                                                 1.000000
Late Bloomers (1996)                                                                 1.000000
Reckless (1995)                                                                      1.000000
Stranger, The (1994)                                                                 1.000000
Roseanna's Grave (For Roseanna) (1997)                                               1.000000
Scarlet Letter, The (1995)                                                           1.000000
Toy Story (1995)                                                                     1.000000
Phantoms (1998)                                                                      1.000000
Across the Sea of Time (1995)                                                        1.000000
Wooden Man's Bride, The (Wu Kui) (1994)                                              1.000000
Substance of Fire, The (1996)                                                        1.000000
Newton Boys, The (1998)                                                              1.000000
Infinity (1996)                                                                      1.000000
Guantanamera (1994)                                                                  1.000000
City of Industry (1997)                                                              1.000000
Two Bits (1995)                                                                      1.000000
Clean Slate (Coup de Torchon) (1981)                                                 1.000000
Bitter Sugar (Azucar Amargo) (1996)                                                  1.000000
Last Summer in the Hamptons (1995)                                                   1.000000
Machine, The (1994)                                                                  1.000000
Hunted, The (1995)                                                                   1.000000
Mondo (1996)                                                                         1.000000
Nelly & Monsieur Arnaud (1995)                                                       1.000000
Nénette et Boni (1996)                                                               1.000000
Golden Earrings (1947)                                                               1.000000
Gilligan's Island: The Movie (1998)                                                  1.000000
Full Speed (1996)                                                                    1.000000
                                                                                       ...
Head Above Water (1996)                                                             -0.866025
Rhyme & Reason (1997)                                                               -0.866025
Neon Bible, The (1995)                                                              -0.866025
NeverEnding Story III, The (1994)                                                   -0.912871
Deep Rising (1998)                                                                  -0.927173
For Richer or Poorer (1997)                                                         -0.927173
Boys Life (1995)                                                                    -0.944911
Colonel Chabert, Le (1994)                                                          -0.944911
Flirt (1995)                                                                        -0.981981
Schizopolis (1996)                                                                  -1.000000
Babysitter, The (1995)                                                              -1.000000
Germinal (1993)                                                                     -1.000000
Chairman of the Board (1998)                                                        -1.000000
Joy Luck Club, The (1993)                                                           -1.000000
Underneath, The (1995)                                                              -1.000000
Calendar Girl (1993)                                                                -1.000000
Good Man in Africa, A (1994)                                                        -1.000000
Nil By Mouth (1997)                                                                 -1.000000
Gabbeh (1996)                                                                       -1.000000
Horse Whisperer, The (1998)                                                         -1.000000
Naked in New York (1994)                                                            -1.000000
Winter Guest, The (1997)                                                            -1.000000
S.F.W. (1994)                                                                       -1.000000
Hurricane Streets (1998)                                                            -1.000000
Magic Hour, The (1998)                                                              -1.000000
Feast of July (1995)                                                                -1.000000
Love and Death on Long Island (1997)                                                -1.000000
Slingshot, The (1993)                                                               -1.000000
Stalker (1979)                                                                      -1.000000
Heavy (1995)                                                                        -1.000000
dtype: float64

Our results are probably getting messed up by movies that have only been viewed by a handful of people who also happened to like Star Wars. So we need to get rid of movies that were only watched by a few people that are producing spurious results. Let's construct a new DataFrame that counts up how many ratings exist for each movie, and also the average rating while we're at it - that could also come in handy later.

In [7]:
import numpy as np
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movieStats.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

Let's get rid of any movies rated by fewer than 100 people, and check the top-rated ones that are left:

In [9]:
popularMovies = movieStats['rating']['size'] >= 100
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

                                       rating
                                         size      mean
title
Close Shave, A (1995)                     112  4.491071
Schindler's List (1993)                   298  4.466443
Wrong Trousers, The (1993)                118  4.466102
Casablanca (1942)                         243  4.456790
Shawshank Redemption, The (1994)          283  4.445230
Rear Window (1954)                        209  4.387560
Usual Suspects, The (1995)                267  4.385768
Star Wars (1977)                          584  4.359589
12 Angry Men (1957)                       125  4.344000
Citizen Kane (1941)                       198  4.292929
To Kill a Mockingbird (1962)              219  4.292237
One Flew Over the Cuckoo's Nest (1975)    264  4.291667
Silence of the Lambs, The (1991)          390  4.289744
North by Northwest (1959)                 179  4.284916
Godfather, The (1972)                     413  4.283293

100 might still be too low, but these results look pretty good as far as "well rated movies that people have heard of." Let's join this data with our original set of similar movies to Star Wars:

In [10]:
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))

/Users/choir/anaconda/lib/python3.5/site-packages/pandas/tools/merge.py:536: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [11]:
df.head()

                              (rating, size)  (rating, mean)  similarity
title
101 Dalmatians (1996)                    109        2.908257    0.232118
12 Angry Men (1957)                      125        4.344000    0.334943
2001: A Space Odyssey (1968)             259        3.969112   -0.069060
Absolute Power (1997)                    127        3.370079    0.318580
Abyss, The (1989)                        151        3.589404    0.329058

And, sort these new results by similarity score. That's more like it!

In [12]:
df.sort_values(['similarity'], ascending=False)[:15]

                               (rating, size)  (rating, mean)  similarity
title
Toy Story (1995)                          452        3.878319    1.000000
Craft, The (1996)                         104        3.115385    0.549100
Down Periscope (1996)                     101        2.702970    0.457995
Miracle on 34th Street (1994)             101        3.722772    0.456291
G.I. Jane (1997)                          175        3.360000    0.454756
Amistad (1997)                            124        3.854839    0.449915
Beauty and the Beast (1991)               202        3.792079    0.442960
Mask, The (1994)                          129        3.193798    0.432855
Cinderella (1950)                         129        3.581395    0.428372
That Thing You Do! (1996)                 176        3.465909    0.427936
Lion King, The (1994)                     220        3.781818    0.426778
Aladdin (1992)                            219        3.812785    0.411731
Great Escape, The (1963)                  124        4.104839    0.401238
African Queen, The (1951)                 152        4.184211    0.397874
Dumbo (1941)                              123        3.495935    0.387716

Ideally we'd also filter out the movie we started from - of course Star Wars is 100% similar to itself. But otherwise these results aren't bad.